{% extends 'admin/layout/template.html.twig' %}
{% block title %}
  {{ 'keyword'|trans }}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <!-- page heading -->
    <h1 class="h3 mb-2 text-gray-800">
      {{ 'keyword'|trans }}
    </h1>
    <!-- datatales example -->
    <div class="card shadow mb-4">
      <div class="card-body">
        <a href="{{ url('admin.keyword.create') }}"
          class="mb-2 btn btn-primary">
          {{ 'create'|trans }}

        </a>
        <div class="table-responsive mt-2">
          <div id="datatable_wrapper" class="datatables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="datatables_length" id="datatable_length"></div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div id="datatable_filter" class="datatables_filter"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered datatable"
                  id="datatable"
                  width="100%"
                  cellspacing="0"
                  role="grid"
                  aria-describedby="datatable_info"
                  style="width: 100%;">
                  <thead>
                    <tr role="row">
                      <th>
                        {{ 'no'|trans }}
                      </th>
                      <th>
                        {{ 'name'|trans }}
                      </th>
                      <th>
                        {{ 'action'|trans }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if (keywords|length) == 0 %}
                      <tr>
                        <td colspan="3" class="text-center">
                          {{ 'no_result'|trans }}
                        </td>
                      </tr>
                    {% endif %}
                    {% for keyword in keywords %}
                      <tr>
                        <td>
                          {{ loop.index }}
                        </td>
                        <td>
                          {{ keyword.getname() }}
                        </td>
                        <td>
                          <div class="text-center">
                            <a href="{{
                              url(
                                'admin.keyword.edit',
                                {
                                  id: keyword.getid()
                                }
                              )
                              }}"
                              class="btn btn-primary">
                              {{ 'edit'|trans }}
                            </a>
                            <a href="{{
                              url(
                                'admin.keyword.delete',
                                {
                                  id: keyword.getid()
                                }
                              )
                              }}"
                              class="btn btn-danger">
                              {{ 'delete'|trans }}
                            </a>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-7">
                <div class="datatables_paginate paging_simple_numbers"
                  id="datatable_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous disabled"
                      id="datatable_previous">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="0"
                        tabindex="0"
                        class="page-link">
                        previous
                      </a>
                    </li>
                    <li class="paginate_button page-item active">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="1"
                        tabindex="0"
                        class="page-link">
                        1
                      </a>
                    </li>
                    <li class="paginate_button page-item">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="2"
                        tabindex="0"
                        class="page-link">
                        2
                      </a>
                    </li>
                    <li class="paginate_button page-item">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="3"
                        tabindex="0"
                        class="page-link">
                        3
                      </a>
                    </li>
                    <li class="paginate_button page-item">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="4"
                        tabindex="0"
                        class="page-link">
                        4
                      </a>
                    </li>
                    <li class="paginate_button page-item">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="5"
                        tabindex="0"
                        class="page-link">
                        5
                      </a>
                    </li>
                    <li class="paginate_button page-item">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="6"
                        tabindex="0"
                        class="page-link">
                        6
                      </a>
                    </li>
                    <li class="paginate_button page-item next"
                      id="datatable_next">
                      <a href="#"
                        aria-controls="datatable"
                        data-dt-idx="7"
                        tabindex="0"
                        class="page-link">
                        next
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
